{
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react",
    "^virtual",
    "<THIRD_PARTY_MODULES>",
    "^@(clerk|nextui)",
    "^swiper",
    "^@/db/(.*)$",
    "^@/layouts/(.*)$",
    "^@/pages/(.*)$",
    "^@/components/(.*)$",
    "^@/services/(.*)$",
    "^@/styles/(.*)$",
    "^@/"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
