@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    @apply h-full w-full;
  }

  label[data-slot="label"] {
    @apply overflow-visible;
  }

  span[data-slot="value"] {
    @apply overflow-visible text-foreground;
  }

  textarea {
    @apply !font-serif !font-medium;
  }

  textarea::placeholder {
    @apply !font-sans !font-light !text-foreground-300;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply m-0 !appearance-none;
  }

  input[type="color"] {
    @apply aspect-square appearance-none bg-transparent;
  }

  input[type="color"]::-webkit-color-swatch {
    @apply aspect-square rounded-full border-none;
  }
  input[type="color"]::-moz-color-swatch {
    @apply rounded-full border-none;
  }

  li[role="option"] {
    @apply !font-serif;
  }

  div[data-slot="calendar"] svg {
    @apply h-5 w-5;
  }

  a {
    @apply font-serif *:font-serif;
  }
}

@layer utilities {
  .debug {
    @apply outline outline-1 outline-blue-600;
  }

  .debug-full {
    @apply debug;
  }

  .debug-full > * {
    @apply debug;
  }

  .debug-inner > * {
    @apply debug;
  }

  .bg-main {
    @apply bg-content2 dark:bg-default-75 lg:bg-content2 dark:lg:bg-default-75;
  }

  .bg-dots {
    @apply bg-dots-light dark:bg-dots-dark;
  }

  .swiper-items :is(.swiper-button-next, .swiper-button-prev) {
    @apply -translate-y-3 !scale-80 lg:hidden;
  }

  .swiper-items .swiper-button-prev {
    @apply left-2.5;
  }

  .swiper-items .swiper-button-next {
    @apply right-2.5;
  }
}

.gutter {
  @apply relative bg-content4 dark:bg-content2;
}

.gutter::after,
.gutter::before {
  @apply absolute bg-center bg-no-repeat opacity-50 content-[''] dark:invert;
}

.gutter-horizontal {
  @apply hover:cursor-col-resize;
}

.gutter-horizontal::after {
  @apply top-1/2 h-20 w-full -translate-y-1/2 bg-drag-dots-v;
  translate: 0 -6px;
}

.gutter-horizontal::before {
  @apply top-1/2 h-20 w-full -translate-y-1/2 bg-drag-dots-v;
  translate: 0 6px;
}

.gutter-vertical {
  @apply hover:cursor-row-resize;
}

.gutter-vertical::after {
  @apply left-1/2 top-0 h-full w-20 -translate-x-1/2 bg-drag-dots-h;
  translate: -6px;
}

.gutter-vertical::before {
  @apply left-1/2 top-0 h-full w-20 -translate-x-1/2 bg-drag-dots-h;
  translate: 6px;
}

.cm-gutters {
  @apply min-w-[39px];
}

.md-editor-toolbar {
  @apply !gap-3.5 !p-3;
}

.md-editor-toolbar:is(:first-child, :last-child) {
  @apply *:scale-[1.5] *:rounded-full *:p-1;
}

.recharts-cartesian-axis-tick {
  @apply *:fill-foreground-300 *:text-sm;
}
